.bookmark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
    .bookmark__icon {
        vertical-align: top;
    }
