.nav {
    height: var(--nav-height);
}
    .nav__floating-panel {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--nav-height);
        background-color: #000000;
        color: #FFFFFF;
    }
        .nav__wrap {
            height: 100%;
        }
            .nav__inner-wrap {
                height: 100%;
                margin-left: -10px;
                margin-right: -10px;
                padding-top: 25px;
                padding-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: stretch;
            }
                .nav__link {
                    flex-grow: 1;
                    flex-basis: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 11px;
                    line-height: 16px;
                    color: inherit;
                    text-transform: lowercase;
                    text-decoration: none;
                    text-align: center;
                    opacity: 0.585;
                }
                    .nav__icon {
                        margin-bottom: 10px;
                        filter: invert(100%);
                    }

                .nav__link--current {
                    opacity: 1;
                }
