:root {
    --font: "Source Sans 3", sans-serif;
    --link-color: #03DEFF;
    --container-max-width: 450px;
    --container-padding: 30px;
    --nav-height: 128px;
    --header-height: 52px;
    --footer-panel-height: 70px;
    --input-widget-height: 54px;
    --transition-hover: 0.1s ease;
    --transition-show: 0.3s ease;
    --image-fallback: #CCCCCC;
    --dummy: #EFEFEF;
    --preferences-footer: 88px;
    --preferences-header: var(--header-height);
    --grey-light: #959595;
    --grey-dark: #3D3D3D;
    --chat-gap: 8px;
    --chat-spacing: 12px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --heading-panel-height: 94px;
    --input-border: #979797;
    --input-border-focus: #000000;
    --placeholder-color: #979797;
    --disabled-background: #F6F6F6;
    --disabled-color: #979797;
    --error: #FF0000;
}

@media (min-width: 360px) and (max-width: 389px) {
    :root {
        --container-padding: 20px;
    }
}

@media (max-width: 359px) {
    :root {
        --container-padding: 15px;
    }
}
