.wysiwyg {
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
}

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
}


.wysiwyg--larger {
    font-size: 18px;
    line-height: 27px;
}

.wysiwyg--larger p,
.wysiwyg--larger ul,
.wysiwyg--larger ol,
.wysiwyg--larger hr,
.wysiwyg--larger figure,
.wysiwyg--larger blockquote {
    margin-top: 17px;
    margin-bottom: 17px;
}

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}



.wysiwyg ul,
.wysiwyg ol {
    padding-left: 30px;
}
    .wysiwyg li {
        margin-top: 17px;
    }

    .wysiwyg li:first-child {
        margin-top: 0;
    }


.wysiwyg h2 {

}

.wysiwyg h3 {

}

.wysiwyg h4 {

}

.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}
